@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #e3f0ff;
    min-height: 100vh;

}
.container{
    max-width: 1300px;
    margin: 0px auto;
    padding: 0px 4%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
nav.menu-icon {
    display: none;
    cursor: pointer;
}
nav .logo a{
    font-size: 40px;
    font-weight: bold;
    color: #5654b3;
    text-decoration: none;
}
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
nav ul li {
    padding: 0 15px;

}
nav ul li a{
    color: #5654b3;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px black;
}
nav ul button{
    border: none;
    background-color: #5654b3;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 1px;
    margin-left: 20px;
    cursor: pointer;
}
main{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text{
    width: 40%;

}
.text h1{
    font-size: 3rem;
    text-transform: uppercase;
}
.text h1 b {
    color: #fa776d;
}
.text p{
    color: #372c62;
    font-weight: 400;
    margin-top: 20px;

}
.text .input-bx{
    margin: 20px 0;
    display: flex;
}
.text .input-bx input{
    width: 60%;
    display: block;
    height: 20px;
    padding: 10px;
    border: none;
    outline: none;
    color: #8997b9;
    font-size: 16px;

}
.text .input-bx input::placeholder{
    color: #8997b9;

}
.text .input-bx button{
    outline: none;
    border: none;
    padding: 10px 20px;
    background-color: #5654b3;
    color: white;
    cursor: pointer;
    font-size: 11px;

}
.midias-sociais{
    margin-top: 30px;

}
.midias-sociais a{
    text-decoration: none;
}
.midias-sociais i{
    font-size: 23px;
    margin: 0 3px;
    color: white;
    background-color: #372c62;
    padding: 7px;
    border-radius: 5px;

}
.img-bx{
    width: 60%;
}
.img-bx img{
    width: 100%;
}
@media (max-width:970px){
    nav .menu{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 60%;
        height: 100%;
        top: 0;
        left: 0;
        transform:translateX(-100%);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        transition: 0.3s ease-in;
        background-color:#5654b3 ;
    }
    nav ul.active{
        transform: translateX(0);
    }
    nav ul li{
        padding: 10px;
    }
    nav ul li a{
        font-size: 18px;
        color: white;
    }
    nav ul button{
        background-color: #fa776d;
        font-size: 18px;
        margin: 10px;
    }
    main{
        flex-direction: column;
    }
    .text,
    .img-bx{
        width: 100%;
        text-align: center;
    }
    .text{
        margin-bottom: 40px ;
    }
    .text .input-bx{
        justify-content: center;
    }
}

